*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(228, 225, 225);
    width: 100vw;
}
nav{
    background-color: rgba(113, 113, 113, 0.4);
    margin: 0 0 20px 0;
    
    
}
.navul{
    display: flex;
   justify-content: space-around;
}
.navli{
    padding: 12px;
    list-style: none;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.navli:hover{
    color: brown;
}
main{
   display: flex;
   flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    
 
}
#handle{
 margin:12px 0;
 border: 2px solid red;
filter: drop-shadow(3px 5px 9px #202020);
/* box-shadow:#202020 7px 6px 36px -2px; */

}
#handle input{
    padding: 12px;
    width: 20vw;
    
}
.oder-list{
    width: 100vw;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
}
.order-item{
    display: flex;
  justify-content:space-between;
   align-items: center;
   width: 50vw;
   background-color: rebeccapurple;
   color: white;
   padding: 12px;
   margin: 15px;
   border-radius: 12px;
}
.order-item h1{
    flex-grow:1 ;
}
button{
    padding: 12px;
    cursor: pointer;
    animation: name 0.6s ease-in 0s 1 alternate both ;
    border-radius: 6px ;
    border: none;
    margin: 3px;
}
@keyframes name {
    0% {
        transform: translateX(120px);
        opacity: 0;
      }
    
      100% {
        transform: translateX(0);
        opacity: 1;
      }
}    
button:hover{
    background-color: aqua;
}